<!-- src/server/templates/auth/login.ejs -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form action="/auth/login" method="post">
      <h1>Login</h1>
      <% if (error) { %>
        <p style="color:red"><%= error %></p>
      <% } %>

      <div>
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          value="<%= email %>"
        />
      </div>

      <div>
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          required
        />
      </div>

      <button type="submit">Login</button>
      <a href="/auth/signup">Register</a>
    </form>
  </body>
</html>
